* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html, body {
  height: 100%;
}

body.loginPage {
  background-image: url('./imgs/BolinhaFundoLogin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Menu {
  width: 20%;
  background-color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.formholder {
  width: 100%;
  padding-left: 20%; /* Corrigido aqui */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #21A179;
  flex-direction: column;
  gap: 3vh;
}

.FormHome {
  height: 60% !important;
}

.User {
  width: 100%;
  height: 10%;
  background-color: #E4E4E4;
}

.Form {
  background-color: #fff;
  width: 80%;
  height: 70%;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.LogoListify, .linha {
  display: flex;
  align-self: center;
}

.btnHome, .btnMensal, .btnAdicionar {
  margin-left: 50px;
  transition: 0.3s;
}

.btnHome:hover, .btnMensal:hover, .btnAdicionar:hover {
  border-bottom: 4px solid #21A179;
}

.btnAdicionar, .linha, .btnMensal {
  margin-top: 5px;
}

.btnsMenu {
  margin-top: 60px;
}

.home, .mensal, .adicionar {
  all: unset;
  display: flex;
  text-decoration: none;
  border: none;
  color: #323232;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}

.ahome, .amensal, .aadicionar {
  display: flex;
  text-decoration: none;
}

.casa, .mensalicon, .adicionaricon {
  color: #323232;
  font-size: 23px;
  margin-top: 5px;
  margin-right: 15px;
}

.mensalicon, .mensal, .adicionar, .adicionaricon {
  color: #323232;
}

.linha {
  background-color: #E6E6E6;
  width: 300px;
  height: 2px;
  margin-left: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .Menu {
    width: 25%;
  }

  .formholder {
    padding-left: 25%;
    width: 100%;
  }

  .Form {
    width: 90%;
    padding: 20px;
  }
}

.titleFormHome {
  color: #21A179;
  font-weight: 700;
  font-size: 32px;
  width: 35vh;
  margin-left: -87vh;
  margin-top: 0.5vh;
}

@media (max-width: 480px) {
  .Menu {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }

  .formholder {
    padding-left: 0;
    width: 100%;
    padding: 1rem;
  }

  .Form {
    width: 100%;
    padding: 15px;
  }
}

.SemanalHeader {
  width: 80%;
  display: flex;
  justify-content: center;
}

.Semanal {
  width: 100%;
  height: 6.5vh;
  border-radius: 2vh;
  background-color: #28B287;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.FundoHeader {
  margin-top: 7vh;
  width: 25vw;
  height: 8vh;
  border-radius: 10vh;
  background-color: #21A179;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListifyImg {
  width: 10vh;
}

.imgheader {
  width: 9vw;
  margin-left: -2vw;
  margin-top: 1vh;
}

.formlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.divzonalogin {
  width: 100vw;
  height: 100vh;
}

.quadradologin {
  width: 40vw;
  height: 50vh;
  border: 2px solid #CFCDCD;
  display: flex;
  border-radius: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20vh;
  gap: 3vh;
  transition: 0.5s;
}

.quadradologin:hover {
  margin-top: 3vh;
}

.quadradologin h1 {
  align-self: center;
  font-weight: 600;
}

.quadradologin input {
  width: 70vh;
}

input[name="usuario"]:focus, input[name="senha"]:focus {
  border-color: #21A179;
  outline: none;
}

.btnentrar {
  background-color: #21A179;
  width: 10vw;
  height: 5vh;
  border: none;
  color: white;
  border-radius: 10vh;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
}

.btnentrar:hover {
  background-color: white;
  color: #21A179;
  border: 3px solid #21A179;
}

input[name="usuario"], input[name="senha"], input[name="tarefa"], input[name="descricao"] {
  border: 2px solid rgb(164, 164, 164);
  border-radius: 2vh;
  padding: 0 1vh;
}

.titlePage {
  color: white;
  font-weight: 700;
  font-size: 5vh;
  width: 35vh;
  margin-left: -90vh;
  margin-top: -3vh;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width: 120vh;
  gap: 15vh;
}

.layoutForm {
  display: flex;
  gap: 15vh;
}

.inputsForm {
  display: flex;
  flex-direction: column;
}

.labelFormulario {
  color: #21A179;
  font-weight: 700;
}

input[name="descricao"] {
  height: 30vh;
  width: 60vh;
}

input[name="tarefa"], input[name="dataInicio"], input[name="dataFim"] {
  width: 60vh;
}

input[name="tarefa"]:focus, input[name="descricao"]:focus {
  border-color: #21A179;
  outline: none;
}

.btnCriarTarefa {
  background-color: #21A179;
  border: none;
  color: white;
  border-radius: 10vh;
  cursor: pointer;
  transition: 0.5s;
  height: 4vh;
  font-size: 2vh;
  font-weight: 700;
  align-self: center;
  width: 120vh;
}

.btnCriarTarefa:hover {
  background-color: white;
  color: #21A179;
  border: 3px solid #21A179;
}

/* Calendário */
.calendar {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.days, .dates {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 5px;
}

.day {
  text-align: center;
  padding: 5px;
  color: #999FA6;
  font-weight: 500;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover, .date.active {
  background-color: #21A179;
  color: #fff;
}

.date.inactive {
  color: #d2d2d2;
}

.date.inactive:hover {
  color: #fff;
}

/* Link ativo */
a.active, a.active i {
  color: #21A179 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.BarraSemana {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap; /* quebra em telas pequenas */
  margin-bottom: 20px;
  background-color: #28B287;
  width: 80vw;
  border-radius: 10px;
}

.btnDia {
  padding: 10px 15px;;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
  user-select: none;
  color: #2A735C;
}

.btnDia.active {
  color: white;
}
