* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #21A179;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

.divzona {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.Menu {
  width: 20%;
  background-color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

.formholder {
  margin-left: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Form {
  background-color: #fff;
  width: 80%;
  height:70%;
  border-radius: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.LogoListify, .linha {
  display: flex;
  align-self: center;
}

.btnHome, .btnMensal, .btnAdicionar {
  margin-left: 50px;
}

.btnAdicionar, .linha, .btnMensal {
  margin-top: 5px;
}

.btnsMenu {
  margin-top: 30px;
}

.home, .mensal, .adicionar {
  all: unset;
  display: flex;
  text-decoration: none;
  border: none;
  color: #21A179;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.ahome, .amensal, .aadicionar {
  display: flex;
  text-decoration: none;
}

.casa, .mensalicon, .adicionaricon {
  color: #21A179;
  font-size: 23px;
  margin-top: 5px;
  margin-right: 15px;
}

.mensalicon, .mensal, .adicionar, .adicionaricon {
  color: #323232;
}

.linha {
  background-color: #E6E6E6;
  width: 200px;
  height: 2px;
  margin-left: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .Menu {
    width: 25%;
  }

  .formholder {
    margin-left: 25%;
    width: 75%;
  }

  .Form {
    width: 90%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .Menu {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }

  .formholder {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }

  .Form {
    width: 100%;
    padding: 15px;
  }
}
.ListifyImg{
  height: 10vh;
  background-color: #21A179;
}